<section class="about">
    <h2 style="color: #C64B00;">Acerca de mí</h2>
    <p style="width: 50%; text-align: left;">Soy estudiante de la Tecnicatura Universitaria en Desarrollo de Aplicaciones Informáticas, actualmente a un cuatrimestre de culminar mis estudios. Estoy comprometido con la adquisición de experiencia profesional que me permita aplicar y profundizar los conocimientos adquiridos durante mi formación académica. Busco oportunidades para colaborar en proyectos que me permitan crecer profesionalmente y contribuir de manera efectiva al desarrollo de soluciones tecnológicas innovadoras.</p>
  </section>
