.about {
    padding: 40px;
    display: flex; /* Para centrar contenido */
    flex-direction: column; /* Para apilar texto verticalmente */
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    height: 100vh; /* Altura de la pantalla */
    background-color: #f8f4ec; /* Fondo acorde al diseño */
    scroll-snap-align: start; /* Alineación con snap scrolling */
  }

  .about h2 {
    color: #C64B00;
    text-align: center; /* Centrar el texto */
  }

  .about p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    text-align: center;
    max-width: 800px; /* Añadimos un ancho máximo */
    margin: 0 auto; /* Centramos el párrafo */
  }