.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease;
  width: 100%;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-details {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tech-badge {
  background-color: #f0f0f0;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 0.8em;
}

.project-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.project-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.card {
  transition: transform 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.tech-stack {
  margin: 1rem 0 2rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-outline-dark {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  margin-right: 10px;
}

.btn-outline-dark:hover {
  background-color: #f0f0f0;
}

.btn-primary {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
}

.btn-primary:hover {
  background-color: #f0f0f0;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Agregar esta clase para centrar el texto */
.text-center {
  text-align: center;
}

/* Estilos para el título y el texto */
.project-title {
  font-size: 2rem; /* Ajusta según el estilo de about */
  color: #333; /* Cambia al color que se use en about */
  margin-bottom: 10px; /* Ajusta el margen según sea necesario */
}

.project-description {
  font-size: 1.2rem; /* Ajusta según el estilo de about */
  color: #666; /* Cambia al color que se use en about */
  text-align: center; /* Asegura que el texto esté centrado */
}

footer {
    color: #ffffff; /* Cambia el color a blanco, por ejemplo */
    background-color: #000000; /* Opcional: agrega un fondo para mejor contraste */
}