<section class="contact-section py-5 px-3 px-md-4">
    <div class="triangle-decorator"></div>
    <div class="additional-decorator-1"></div>
    <div class="additional-decorator-2"></div>
    <div class="contact-container h-100">
      <h1 class="text-center mb-3 mb-md-4">Ponte en contacto</h1>
      <hr class="divider">
      <div class="contact-info row justify-content-center mt-4 mt-md-5">
        <div class="info-item col-12 col-md-6 d-flex align-items-center mb-4 mb-md-3 justify-content-center justify-content-md-start">
            <span class="icon me-3"><i class="fas fa-phone-alt"></i></span>
          <div>
            <p class="label mb-1">TELÉFONO</p>
            <p class="value mb-0">02262360846</p>
          </div>
        </div>
        <div class="info-item col-12 col-md-6 d-flex align-items-center mb-3 justify-content-center justify-content-md-start">
            <span class="icon me-3"><i class="fas fa-envelope"></i></span>
          <div>
            <p class="label mb-1">CORREO</p>
            <p class="value mb-0">katiagadea19&#64;gmail.com</p>
          </div>
        </div>
      </div>
    </div>
</section>
