<section class="contact-section">
    <div class="triangle-decorator"></div>
    <div class="additional-decorator-1"></div>
    <div class="additional-decorator-2"></div>
    <div class="contact-container h-100">
      <h1>Ponte en contacto</h1>
      <hr class="divider">
      <div class="contact-info">
        <div class="info-item">
            <span class="icon"><i class="fas fa-phone-alt"></i></span>
          <div>
            <p class="label">TELÉFONO</p>
            <p class="value">02262360846</p>
          </div>
        </div>
        <div class="info-item">
            <span class="icon"><i class="fas fa-envelope"></i></span>
          <div>
            <p class="label">CORREO</p>
            <p class="value">katiagadea19&#64;gmail.com</p>
          </div>
        </div>
      </div>
    </div>
</section>
