<div class="fullpage-container">
  <div class="geometric-background">
    <div class="shape circle d-none d-md-block"></div>
    <div class="shape triangle d-none d-md-block"></div>
    <div class="shape square d-none d-md-block"></div>
    <div class="shape rectangle"></div>
    <div class="shape circle"></div>
    <div class="shape triangle d-none d-md-block"></div>
  </div>

  <section class="section hero-section" id="home">
    <div class="container px-3 px-md-5">
      <div class="content-wrapper text-center">
        <div class="logo mb-3 mb-md-4"></div>
        <h1 class="display-5 display-md-4 mb-2 mb-md-3">Hola, soy Katia Gadea</h1>
        <p class="lead mb-3 mb-md-4">Desarrolladora Web Full Stack</p>
        <a (click)="scrollToContact()" class="btn btn-primary px-3 px-md-4 py-2 py-md-3">Contactame</a>
      </div>
    </div>
  </section>

  <section class="section" id="about">
    <app-about></app-about>
  </section>

  <section class="section" id="projects">
    <app-projects></app-projects>
  </section>

  <section class="section" id="contact">
    <app-contact #contact></app-contact>
  </section>
</div>
