<div class="fullpage-container">
  <div class="geometric-background">
    <div class="shape circle"></div>
    <div class="shape triangle"></div>
    <div class="shape square"></div>
    <div class="shape rectangle"></div>
    <div class="shape circle"></div>
    <div class="shape triangle"></div>
  </div>

  <section class="section hero-section" id="home">
    <div class="container">
      <div class="content-wrapper">
        <div class="logo"></div>
        <h1>Hola, soy Katia Gadea</h1>
        <p>Desarrolladora Web Full Stack</p>
        <a (click)="scrollToContact()" class="btn">Contactame</a>
      </div>
    </div>
  </section>

  <section class="section" id="about">
    <app-about></app-about>
  </section>

  <section class="section" id="projects">
    <app-projects></app-projects>
  </section>

  <section class="section" id="contact">
    <app-contact #contact></app-contact>
  </section>
</div>
